.cartbox {
    width: 400px;

    /* border: 1px solid red; */
}

.menubox {
    margin-top: 50px;
    /* border: 1px solid red; */
}

.closeicon {
    /* border: 1px solid red; */
    display: inline-block;
    margin-left: 93%;
    font-family: Arial, Helvetica, sans-serif;
}

.display-flex {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.display-flex p {
    /* border: 1px solid red ; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 200px;

}

.emptycartimage {
    /* border: 1px solid red ; */
    margin-top: -30px;
    margin-right: 30px;
}
hr{
    border: 2px solid black;
    width: 100%;
}
.cartdeleticon{
    color: red;
   
}
.cartsingledata{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cartsingledata:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.checkout{
    border: none;
    background-color: rgb(57, 7, 57);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px ;
    border-radius: 5px;
}
.checkout:hover{
    border: none;
    background-color: rgb(225, 115, 115);
    color: rgb(52, 4, 52);
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px 10px ;
    border-radius: 5px;
}
