body{
	margin: 0;
	padding: 0;
	height: 100vh;

}

.container1{
	display: flex;
	flex-flow: column;
	height: 100%;
	align-items: space-around;
	justify-content: center;
    /* border: 1px solid red; */
    margin-top: 120px;
}

.userInput{
	display: flex;
	justify-content: center;
    
}

input{
	margin: 10px;
	height: 35px;
	width: 20rem;
	text-align: center;
	font-size: 1.2rem;
	

}

h1{
	text-align: center;
	font-family: arimo;
	
}


.verify{
	width: 23.5rem;
	height: 40px;
	margin: 25px auto 0px auto;
	color: white;
	cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
	background-color: purple; /* fallback for old browsers */
    font-size: 1.2rem;
}
.otpbutton{
    background-color: purple;
    height: 35px;
}